<table class="uk-table uk-table-striped">
  <thead>
      <tr>
          <th>id</th>
          <th>title</th>
          <th>created</th>
          <th>options</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let article of articles">
          <td>{{article.id}}</td>
          <td>{{article.title}}</td>
          <td>{{article.created | date: 'short'}}</td>
          <td>
               <button class="uk-button uk-button-small uk-button-default" routerLink="/edit/article/{{article.id}}">edit</button> 
          </td>
      </tr>
  </tbody>
</table>
