<div class="uk-section uk-section-default">

  <div class="uk-container" *ngIf="!articleAvailable && !create; else editor">
    <h1 class="uk-text-warning">You are not authorized to edit this article</h1>
  </div>

  <ng-template #editor>
    <div class="uk-container">
      <form class="uk-form-horizontal uk-margin-large" #articleForm="ngForm">
        <div class="uk-margin" *ngIf="article.id">
          <label class="uk-form-label" for="form-horizontal-id">Id</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-id" name="id" type="text" [(ngModel)]="article.id" disabled>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-horizontal-title">Title</label>
          <div class="uk-form-controls">
            <input class="uk-input" required #title="ngModel" [ngClass]="{'uk-form-danger': title.invalid }" id="form-horizontal-title"
              name="title" type="text" [(ngModel)]="article.title" placeholder="Some text...">
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="form-horizontal-subtitle">Subtitle</label>
          <div class="uk-form-controls">
            <input class="uk-input" required #subtitle="ngModel" [ngClass]="{'uk-form-danger': subtitle.invalid }" id="form-horizontal-subtitle"
              name="subtitle" type="text" [(ngModel)]="article.subtitle" placeholder="Some text...">
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="form-horizontal-content">Content</label>
          <div class="uk-form-controls">
            <app-markdown-editor name="Content" [(ngModel)]="article.content" required></app-markdown-editor>
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="form-horizontal-image">Background image</label>
          <div class="uk-form-controls">

            <div *ngIf="article.imageId">
              <img src="/api/v1/files/{{article.imageId}}?size=100" />
            </div>

            <button class="uk-button uk-button-default uk-button-small" (click)="openFileManager()" type="button">select</button>
          </div>
        </div>

        <div class="uk-margin" *ngIf="canUserPublishArticles">
          <label class="uk-form-label" for="form-horizontal-text">Published</label>
          <div class="uk-form-controls">
            <input class="uk-checkbox" name="published" type="checkbox" [(ngModel)]="article.published" checked>
            published articles will be available to everyone
          </div>
        </div>


        <div class="uk-margin" *ngIf="canUserPublishArticles">
          <label class="uk-form-label" for="form-horizontal-text">Featured</label>
          <div class="uk-form-controls">
            <input class="uk-checkbox" name="featured" type="checkbox" [(ngModel)]="article.featured" checked> Featured
            articles show on top of the page. If more than 1 article is featured, a random one will be displayed
          </div>
        </div>


        <div class="uk-margin">
          <div class="uk-form-controls" uk-margin>
            <button class="uk-button uk-button-default" routerLink="./../..">Cancel</button>
            <button [disabled]="!articleForm.valid" class="uk-button uk-button-primary" (click)="saveArticle()">Save</button>
          </div>
        </div>
      </form>
    </div>

  </ng-template>


</div>