<!--The content below is only a placeholder and can be replaced.-->
<!-- NAVIGATION -->
<div class="uk-container">
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left uk-visible@s">
      <ul class="uk-navbar-nav">
        <li>
          <a class="uk-logo" href="#" title="Logo"><img src="assets/img/noser-logo.png" height="30px" alt="Logo"></a>
        </li>
        <li [ngClass]="{'uk-active': currentUrl === '/' || currentUrl === '/home'}">
          <a routerLink="/" routerLinkActive="uk-active">Home</a>
        </li>

        <li *ngFor="let menuEntry of menu.menuEntries" [ngClass]="{'uk-active': currentUrl === '/' + menuEntry.slug }">
          <a routerLink="/{{menuEntry.slug}}">{{menuEntry.name}}</a>
        </li>
        
      </ul>
    </div>

    <div class="uk-navbar-right uk-visible@s">
      <ul class="uk-navbar-nav">
        <li *ngIf="!profile">
          <a routerLink="/admin">Login</a>
        </li>

        <li *ngIf="profile">
          <a>{{ profile.preferred_username }}</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li><a routerLink="/admin">Settings</a></li>
              <li><a routerLink="/logout">Logout</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <!-- Menu when display width < 640px -->
    <div class="uk-navbar-left uk-hidden@s">
      <ul class="uk-navbar-nav">
        <li>
          <a class="uk-logo" href="#" title="Logo"><img src="assets/img/noser-logo.png" alt="Logo"></a>
        </li>
      </ul>
    </div>

    <div class="uk-navbar-right uk-hidden@s">
      <ul class="uk-navbar-nav">
        <li>
          <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #my-id"></a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Off-canvas menu when width < 640px -->
  <div id="my-id" uk-offcanvas>
    <div class="uk-offcanvas-bar">
      <ul class="uk-nav uk-nav-default">
        <li>
          <a class="uk-logo" href="#" title="Logo"><img src="assets/img/noser-logo.png" height="30px" alt="Logo"></a>
        </li>
        
        <li [ngClass]="{'uk-active': currentUrl === '/' || currentUrl === '/home'}">
          <a routerLink="/" routerLinkActive="uk-active">Home</a>
        </li>

        <li *ngFor="let menuEntry of menu.menuEntries" [ngClass]="{'uk-active': currentUrl === menuEntry.slug }">
          <a routerLink="/{{menuEntry.slug}}">{{menuEntry.name}}</a>
        </li>

        <li *ngIf="profile">
          <a>{{ profile.preferred_username }}</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li><a routerLink="/admin">Settings</a></li>
              <li><a routerLink="/logout">Logout</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <router-outlet></router-outlet>


  <!--FOOTER-->
  <footer class="uk-section uk-section-small uk-section-muted">
    <div class="uk-container">
      <p class="uk-text-small uk-text-center">Copyright 2019 - 
        Created by <a href="https://github.com/martindobrev">maddob</a> 
        | Built with 
        <a href="http://getuikit.com" title="Visit UIkit 3 site" target="_blank"
          data-uk-tooltip><span data-uk-icon="uikit"></span></a>
        | based on the templates of <a href="https://github.com/zzseba78/Kick-Off" target="_blank">Kick-Off</a>
      </p>
    </div>
  </footer>
  <!--/FOOTER-->
</div>