<div class="uk-offcanvas-content">
	<!--HEADER-->
	<header id="top-head" class="uk-position-fixed">
		<div class="uk-container uk-container-expand uk-background-primary">

			<nav class="uk-navbar uk-light" data-uk-navbar="mode:click; duration: 250">

				<div class="uk-navbar-left">
					<ul class="uk-navbar-nav">
						<li><button routerLink="./articles/create" class="uk-button uk-button-small uk-button-default">Create article</button></li>
						<li><button routerLink="./articles/create" class="uk-button uk-button-small uk-button-default">Delete all articles</button></li>
					</ul>
				</div>

				<div class="uk-navbar-right">
					<ul class="uk-navbar-nav">
						<li><a routerLink="/" data-uk-icon="icon: home" title="" data-uk-tooltip="go to homepage" class="uk-icon"
							 aria-expanded="false"></a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<!--/HEADER-->
	<!-- LEFT BAR -->
	<aside id="left-col" class="uk-light uk-visible@m">
		<div class="left-logo uk-flex uk-flex-middle">
			<img class="custom-logo" src="/assets/img/noser-logo.png" alt="">
		</div>
		<div class="left-content-box  content-box-dark">
			<img src="img/avatar.svg" alt="" class="uk-border-circle profile-img">
			<h4 class="uk-text-center uk-margin-remove-vertical text-light">{{ user.username }}</h4>

			<div class="uk-position-relative uk-text-center uk-display-block">
				<a href="#" class="uk-text-small uk-text-muted uk-display-block uk-text-center uk-icon" data-uk-icon="icon: triangle-down; ratio: 0.7">{{ role }}</a>
				<!-- user dropdown -->
				<div class="uk-dropdown user-drop" data-uk-dropdown="mode: click; pos: bottom-center; animation: uk-animation-slide-bottom-small; duration: 150">
					<ul class="uk-nav uk-dropdown-nav uk-text-left">
						<!--
								<li><a href="#"><span data-uk-icon="icon: info" class="uk-icon"></span> Summary</a></li>
								<li><a href="#"><span data-uk-icon="icon: refresh" class="uk-icon"></span> Edit</a></li>
								<li><a href="#"><span data-uk-icon="icon: settings" class="uk-icon"></span> Configuration</a></li>
								<li class="uk-nav-divider"></li>
								<li><a href="#"><span data-uk-icon="icon: image" class="uk-icon"></span> Your Data</a></li>
								<li class="uk-nav-divider"></li>
								<li><a href="#"><span data-uk-icon="icon: sign-out" class="uk-icon"></span> Sign Out</a></li>
								-->
					</ul>
				</div>
				<!-- /user dropdown -->
			</div>
		</div>

		<div class="left-nav-wrap">
			<ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav="">
				<li class="uk-nav-header">ACTIONS</li>
				<li [ngClass]="{'uk-active': currentUrl === '/admin'}"><a routerLink="./"><span data-uk-icon="icon: info" class="uk-margin-small-right uk-icon"></span>Stats</a></li>
				<li [ngClass]="{'uk-active': currentUrl === '/admin/articles'}">
					<a routerLink="./articles"><span data-uk-icon="icon: list" class="uk-margin-small-right uk-icon"></span>Articles</a>
				</li>
				<li [ngClass]="{'uk-active': currentUrl === '/admin/file-manager'}">
					<a routerLink="./file-manager"><span data-uk-icon="icon: thumbnails" class="uk-margin-small-right uk-icon"></span>File Manager</a>
				</li>
				<li [ngClass]="{'uk-active': currentUrl === '/admin/users'}">
					<a routerLink="./users"><span data-uk-icon="icon: users" class="uk-margin-small-right uk-icon"></span>Users</a>
				</li>
				
			</ul>

			<div class="left-content-box uk-margin-top">

				<h5>Daily Reports (Admins only)</h5>
				<div>
					<span class="uk-text-small">Traffic <small>(+50)</small></span>
					<progress class="uk-progress" value="50" max="100"></progress>
				</div>
				<div>
					<span class="uk-text-small">Income <small>(+78)</small></span>
					<progress class="uk-progress success" value="78" max="100"></progress>
				</div>
				<div>
					<span class="uk-text-small">Feedback <small>(-12)</small></span>
					<progress class="uk-progress warning" value="12" max="100"></progress>
				</div>
			</div>
		</div>
		<div class="bar-bottom">
			<ul class="uk-subnav uk-flex uk-flex-center uk-child-width-1-5 uk-grid" data-uk-grid="">
				<li class="uk-first-column">
					<a routerLink="/" class="uk-icon-link uk-icon" data-uk-icon="icon: home" title="" data-uk-tooltip="Go to homepage"
					 aria-expanded="false"></a>
				</li>
				<li>
					<a routerLink="./logout" class="uk-icon-link uk-icon" data-uk-tooltip="Sign out" data-uk-icon="icon: sign-out" title="logout"
					 aria-expanded="false"></a>
				</li>
			</ul>
		</div>
	</aside>
	<!-- /LEFT BAR -->

	<!-- CONTENT -->
	<div id="content" data-uk-height-viewport="expand: true" style="min-height: 555px;">
		<div class="uk-container uk-container-expand">
			<router-outlet></router-outlet>
		</div>			
	</div>
	<!-- /CONTENT -->

	<!-- MODAL COMPONENT PLACEHOLDER-->
	<app-modal></app-modal>

</div>

