<div>
    <div class="uk-placeholder uk-text-center" (drop)="onDrop($event)" (dragover)="onDragOver($event)" *ngIf="!selectedFiles">
        <span uk-icon="icon: cloud-upload"></span>
        <span class="uk-text-middle">To upload files just drop them here or </span>
        <div uk-form-custom>
            <input type="file" (change)="fileAdded($event)" #file multiple>
            <span class="uk-link">selecting one</span>
        </div>
    </div>
    
    <h3>Available images</h3>
    <table class="uk-table uk-table-small uk-table-justify uk-table-divider" *ngIf="selectedFiles">
        <thead>
            <tr>
                <th>Filename</th>
                <th>Size</th>
                <th class="uk-table-expand">
                    <button class="uk-button uk-button-danger uk-button-small" type="button" (click)="clearAll()">Clear</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let file of selectedFiles">
                <td class="uk-text-break">{{ file.name }}</td>
                <td>{{ file.size }}</td>
                <td class="uk-table-expand" *ngIf="file.name">
                    
                    <div *ngIf="filesBeingUploaded[file.name]">
                        <progress *ngIf="!filesBeingUploaded[file.name].completed && !filesBeingUploaded[file.name].error" class="uk-progress" 
                            value="{{filesBeingUploaded[file.name].progress}}"
                            max="{{filesBeingUploaded[file.name].size}}"></progress>

                        <span *ngIf="filesBeingUploaded[file.name].completed" class="uk-text-small">completed</span>
                        <div *ngIf="filesBeingUploaded[file.name].error">
                            <span class="uk-text-danger">upload failed</span>
                            
                            <button class="uk-button uk-button-danger uk-button-small" type="button" (click)="uploadFile(file)">retry</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>