/* CodeMirror */
.html-editor-container {
    border: 1px solid #e5e5e5;
}

.CodeMirror-Editor-Tab {
    border: 1px solid #e5e5e5;
    border-bottom: none;
    padding: 10px;
}

.fullscreen {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
}

.preview {
    overflow: scroll;
    border-left: 1px solid #e5e5e5;
    height: 300px;
    padding: 5px;
}

.hidden {
    display: none;
}

.full-height {
    height: 100%;
}

#preview-content {
    background: white;
}