<div [ngClass]="{'fullscreen': fullscreenEnabled}">
    <div class="CodeMirror-Editor-Tab uk-background-muted uk-flex" >

        <div class="uk-flex uk-flex-left">
            <a uk-icon="icon: bold" (click)="insertContent('bold')"></a>
            <a uk-icon="icon: italic" (click)="insertContent('italic')"></a>
            <a uk-icon="icon: quote-right" (click)="insertContent('quote')"></a>
            <a uk-icon="icon: code" (click)="insertContent('code')"></a>
            
        </div>

        <div class="uk-flex uk-flex-left uk-margin-left">
            <a uk-icon="icon: image" (click)="chooseImage()"></a>
            <a uk-icon="icon: grid"></a>
        </div>

        <div class="uk-flex uk-flex-right" style="flex-grow: 1;">
            <a *ngIf="previewEnabled" uk-icon="icon: chevron-right" (click)="previewEnabled = false; resizeCodeMirror()"></a>
            <a *ngIf="!previewEnabled" uk-icon="icon: chevron-left" (click)="previewEnabled = true; resizeCodeMirror()" ></a>
            <a uk-icon="icon: expand" (click)="previewInModal()"></a>
        </div>
    </div>

    <div class="uk-grid-collapse uk-grid-match html-editor-container " uk-grid [ngClass]="{'max-height': !fullscreenEnabled, 'full-height': fullscreenEnabled}">
        <div [ngClass]="{'uk-width-1-2': previewEnabled, 'uk-width-expand': !previewEnabled}" #codeMirrorContainer >
            <textarea #editor name="content"><p>just a test content here</p></textarea>
        </div>
        
        <div *ngIf="previewEnabled" class="preview" [ngClass]="{'uk-width-1-2': previewEnabled, 'hidden': !previewEnabled }" [innerHTML]="value"></div>
    </div>
</div>

<div id="preview-content" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
    </div>
    <div [innerHTML]="value">

    </div>
</div>