<!-- HERO -->
<section *ngIf="featuredArticle" class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-height-large uk-cover-container uk-border-rounded">
      <img src="/api/v1/files/{{featuredArticle.imageId}}?size=1200" alt="Alt img" data-uk-cover>
      <div class="uk-overlay uk-overlay-primary uk-position-cover uk-flex uk-flex-center uk-flex-middle uk-light uk-text-center">
        <div data-uk-scrollspy="cls: uk-animation-slide-bottom-small">
          <span style="letter-spacing: 0.2em; font-size: 0.725rem">FEATURED ARTICLE</span>
          <h1 class="uk-margin-top uk-margin-small-bottom uk-margin-remove-adjacent">{{featuredArticle.title}}</h1>
          <p>{{featuredArticle.subtitle}}</p>
          <a routerLink="/article/{{featuredArticle.id}}" class="uk-button uk-button-default uk-margin-top">GO TO ARTICLE</a>
          <br />
          <a *ngIf="featuredArticle.editable" routerLink="/edit/article/{{featuredArticle.id}}" class="uk-button uk-button-danger uk-margin-top">EDIT</a>
        </div>
      </div>

    </div>
  </div>
</section>

<div class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-grid" data-ukgrid>
      <div class="uk-width-2-3@m" *ngIf="articles">
        <h4 class="uk-heading-line uk-text-bold"><span>Latest News</span></h4>
        <article *ngFor="let article of articles.published" class="uk-section uk-section-small uk-padding-remove-top">
          <header>
            <h2 class="uk-margin-remove-adjacent uk-text-bold uk-margin-small-bottom">
              <a title="Fusce facilisis tempus magna ac dignissim." class="uk-link-reset" routerLink="/article/{{article.id}}">{{article.title}}</a>
            </h2>
            <p class="uk-article-meta">Written on {{article.created | date: 'short'}} | <span data-uk-icon="icon: future"></span>
              Takes 7 min reading. <span *ngIf="article.editable">| <a class="uk-text-danger" routerLink="/edit/article/{{article.id}}">EDIT</a></span></p>
          </header>
          <div class="uk-cover-container">
              <canvas width="800" height="200"></canvas>
              <img src="/api/v1/files/{{article.imageId}}?size=800" alt="" uk-cover>
          </div>

          <p>{{ article.subtitle }}</p>
          <a routerLink="/article/{{article.id}}" title="Read More" class="uk-button uk-button-default uk-button-small">READ MORE</a>
          <hr>
        </article>
      </div>
      <div class="uk-width-1-3@m">
        <h4 class="uk-heading-line uk-text-bold"><span>Archive</span></h4>
        <ul class="uk-list">
          <li><a href="">March</a></li>
          <li><a href="">February</a></li>
          <li><a href="">January</a></li>
          <li><a href="">December <small>(2017)</small></a></li>
          <li><a href="">November <small>(2017)</small></a></li>
          <li><a href="">October <small>(2017)</small></a></li>
          <li><a href="">September <small>(2017)</small></a></li>
          <li><a href="">August <small>(2017)</small></a></li>
        </ul>
        <h4 class="uk-heading-line uk-text-bold"><span>About Us</span></h4>
        <div class="uk-tile uk-tile-small uk-tile-muted uk-border-rounded">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in.
        </div>
      </div>
    </div>
  </div>
</div>
<!--/CONTENT-->